extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  form(action="/upload" method="POST" enctype="multipart/form-data")
    // File input (PDF only)
    label(for="avatar") Upload PDF:
    br
    input(type="file" name="avatar" accept=".pdf" required)
    br
    br
    // NIK field (integer only)
    label(for="nik") Enter NIK (Integer Only):
    input(type="number" name="nik" pattern="\d*" required)
    button(type="submit") Upload
