extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  form(action="/upload" method="POST" enctype="multipart/form-data")
    label(for="avatar") Upload PDF:
    br
    input(type="file" name="pdf" accept=".pdf" required)
    br
    br
    label(for="nik") Enter NIK (Integer Only):
    input(type="number" name="nik" pattern="\d*" required)
    br
    p choose visibility!
    input(type="radio" id="visible" name="visual" value="visible")
    label(for="visible") visible
    input(type="radio" id="invisible" name="visual" value="invisible")
    label(for="invisible") invisible
    br
    br
    button(type="submit") Upload
